/* Scrollbar */

html {
  scrollbar-color: #0048FF #FFFFFF;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
  width: 4px;
  height: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #0048FF;
  width: 4px;
  height: 4px;
  border-radius: 10px;
}
