/* index <nav> */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 30px 80px;
}

nav img.logo {
  width: 100%;
  max-width: 200px;
  margin-right: auto;
}

nav button {
  background-color: transparent;
  font-family: var(--fonte-bold);
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: var(--cor-branco);
  margin: 0 0 0 30px;
  transition: all 0.3s;
}

nav button:hover {
  opacity: 0.7;
}

nav button.principal {
  background-color: var(--cor-azul);
  padding: 10px 20px;
  border-radius: 50px;
}

nav button.principal:hover {
  opacity: 1;
  background-color: var(--cor-rosa);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  nav {
    padding: 30px 30px;
  }
  nav img.logo {
    max-width: 100px;
  }
  nav button {
    display: none;
  }
  nav button.principal {
    display: flex;
  }
}
