/* index <section class="cta"> */

section.cta {
  display: none;
  background-image: url('../../../../../files/images/index/background-branco.png');
  background-size: cover;
  background-position: center;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
}
